@{
    ViewBag.Title = "Kennwortbestätigung vergessen";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Diese Nachricht wird nur testweise angezeigt um in dieser Umgebung den Password-Reset zu simulieren:
    </p>
    <p>
        <a href=@ViewBag.PasswordResetMessage>Hier klicken</a> 
    </p>
</div>
	
