@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hohe Straße 50<br />
    53119 Bonn<br />
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:rene.wiederhold@gmail.com">rene.wiederhold@gmail.com</a><br />
</address>